*.png
*.mp4
.vscode
__pycache__
checkpoints
config/yolov3.weights
data/sparrow_nsparrow
forboxing
newlabels
raw
utils/__pycache__
video
DownloadFiles - Shortcut.lnk
config/yolov3-spp-ultralytics.pt
test
old_model/config/yolov3.weights
old_model/checkpoints
old_model/raw