*.png
*.mp4
*.pt
.vscode
**/__pycache__/
checkpoints
config/yolov3.weights
data/sparrow_nsparrow
forboxing
newlabels
raw
utils/__pycache__
video
DownloadFiles - Shortcut.lnk
config/yolov3-spp-ultralytics.pt
test
weights
output
old_model/config/yolov3.weights
old_model/checkpoints
old_model/raw
v3_model/__pycache__
inference
data
runs